* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align:center;
  } 
body {
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    
}
.btn {
    background-color: aquamarine;
    color:black;
}
.answers {
    margin:6px;
}

.card {
    flex:0 1 0;
    padding: 50px;
    
}
#highscore {
    /* text-align:left; */
    float:left;
    color: blueviolet;
}

#timeleft {
    float:right;
    color:blueviolet;
}

#care {
    color: red;
}
#homepage {
    padding:5px;
}
#quizpage {
    padding: 5px;
}
#question,
#completepage,
#highscorepage,
#score
/* #A,#B,#C,#D */
{
    display:none;
}

#history {
    background-color: blanchedalmond;
}

#score {
    padding: 6px;
    margin: 6px;
    border:1px solid black;
}









